
<div class="container">
    <table id="script">
        <tr>
            <th>TC</th>
            <th>Personaje</th>
            <th>English</th>
            <th>Diálogo<th>
        </tr>
        
        <% @loops.each do |tc, value|%>
        
            <tr>
                <td class="timecode_text"> <%= tc %>  </td>
                <td></td>
                <td class="english_text"> <%= value %> </td>
                <td></td>
            </tr>

        <% end %>

    </table>

</div>
